<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="RecomTestConnectionString" connectionString="Data Source=.;Initial Catalog=RecomTest;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="hbafusio_recomtestConnectionString" connectionString="Data Source=hba;Initial Catalog=hbafusio_recomtest;User ID=hbafusio_balaaj;Password=0123456789"
      providerName="System.Data.SqlClient" />
    <add name="RecomConnectionString" connectionString="Data Source=.;Initial Catalog=Recom;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="recomConnectionString1" connectionString="Data Source=.;Initial Catalog=recom;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
</configuration>